<div class="h-full overflow-hidden overflow-y-scroll bg-transparent">
	<div class="container px-6 py-16 mx-auto">
		<div class="mx-auto sm:w-6/12 lg:w-5/12 xl:w-[30%]">
			<div class="p-4 mt-4">
				<div class="rounded-b-xl max-h-fit relative flex flex-col justify-end pt-6 overflow-hidden"
					*ngFor="let message of messageService.messages; let i = index">
					<div
						class="group rounded-xl bg-slate-600/40 before:absolute before:inset-y-0 before:right-0 before:w-1/2 before:rounded-r-xl before:bg-gradient-to-r before:from-transparent before:to-sky-700 before:opacity-0 before:transition before:duration-500 hover:before:opacity-100 relative flex justify-between cursor-pointer">
						<div class="relative p-4 space-y-1">
							<h4 class="text-lg text-gray-400">Database Events</h4>
							<div class="text-slate-300 relative w-full h-6 font-sans text-sm">
								<span
									class="group-hover:invisible group-hover:opacity-0 text-amber-400 transition duration-300">
									Event #{{i + 1}}</span>
								<button (click)="onClick(message)"
									class="group-hover:visible group-hover:translate-y-0 -right-40 absolute top-0 flex items-center invisible gap-3 transition duration-300 translate-y-3">
									<p>{{message}}</p>
								</button>
								<button type="button"
									class="bg-transparent -top-[140px] -right-[290px] absolute"
									(click)="messageService.clear(i)">
									<app-close></app-close>
								</button>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>